[Unit]
Description=valheim
Wants=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=valheim
Group=valheim

WorkingDirectory={INSTALL}
Environment='LD_LIBRARY_PATH=./linux64'
Environment='SteamAppId=892970'

Environment='PORT=2456'
Environment='PUBLIC=0'
Environment='NAME=aemyers'
Environment='WORLD=world'
Environment='SAVEDIR={RESOURCES}/save'

ExecStart={INSTALL}/valheim_server.x86_64 -port $PORT -public $PUBLIC -name $NAME -world $WORLD -savedir $SAVEDIR

KillSignal=SIGINT

Nice=5
